.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.error img {
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.error span {
  font-weight: bold;
  font-size: 20px;
  display: block;
  color: tomato;
}
